* {
    box-sizing: border-box;
}

.photo-slide {
    height: 100vh;
    width: auto;
}

.slideshow {
    position: relative;
}

div.slide-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: '5px 5px 6px #000';
}

.right-button, .left-button {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.right-button {
    right: 14%;
}

.left-button {
    left: 15%;
}

#arrow-left-button, #arrow-right-button {
    font-size: 3em;
}

.photo-slide h5 {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 3.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #f2f2f2;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
}

.shop-btn {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 2em;
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    padding: 0 10px 2px 10px;
    transform: translate(-50%, -50%);
    background-color: #F25C2C;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.shop-btn:hover {
    cursor: pointer;
    background-color: #FC7E2D;
    border: 1px solid #fff;
} 


/* Responsive Adjustments */

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 516px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}