.photo-slide {
    /* height: 100vh; */
    width: auto;
    padding: 0;
    margin: 0;
}

.photo-slide h1 {
    text-align: center;
    color: white;
    padding: 0 0 20px 0;
    font-weight: 400;
}

div.slideshow-container {
    justify-content: center;
}

.current-slide {
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    width: 100%;
}

.photo-tag {
    display: flex;
    justify-content: flex-end;
}

.photo-by {
    font-weight: 320;
}

h5 {
    font-size: 1.2em;
    color: white;
    font-weight: 500;
}

.slideshow-controller {
    display: flex;
    flex-direction: column;
    height: 70px;
}

.slideshow-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

.right-button, .left-button {
    cursor: pointer;
    color: white;
}

.right-button {
    display: flex;
    order: 3;
}

.left-button {
    display: flex;
    order: 1;
}

svg.MuiSvgIcon-root {
    font-size: 2em;
}

.left-button:hover, .right-button:hover {
    color: #FC7E2D;
    border-color: #FC7E2D;
}

.shop-btn {
    width: 20%;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 2em;
    color: #fff;
    z-index: 1;
    padding: 0 10px 0px 10px;
    background-color: #F25C2C;
    border: none;
    border-radius: 5px;
    order: 2;
    box-shadow: 5px 5px 5px black;
}

.shop-btn:hover {
    cursor: pointer;
    background-color: #FC7E2D;
    border: 1px solid #fff;
    color: white;
} 


/* Responsive Adjustments */

@media (min-width: 320px) 
and (max-width: 768px) 
and (orientation: portrait) {
  .shop-btn {
      font-size: 1em;
  }

  .photo-slide h1 {
      font-size: 1.29em;
  }
}

/* @media (orientation: landscape)
and (min-width: 320px) {
  .current-slide {
    height: auto;
  }
} */