.about-page {
    height: 100%;
    width: 100%;
}

.about-container {
    display: flex;
    border-top: 3px solid darkgrey;
    background-color: black;
    margin-top: 20px;
}

.mission {
    text-align: center;
    justify-content: center;
    color: darkgrey;
    font-size: 2em;
    padding-top: 120px;
    width: 50%;
}

.mission-title {
    background-color: black;
    color: white;
    opacity: 1;
    padding-bottom: 1em;
}

.mission p {
    margin: 0 0.5em;
    font-size: 0.9em;
}



@media (min-width: 320px) 
and (max-width: 768px)
and (orientation: portrait) {
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;       
        margin: 0; 
        padding: 0;
    }

    .about-img {
        width: 100%;
        padding: 0;
        margin: 0 20px 0 20px;
    }

    .mission {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 2em;
    }

    .mission h3 {
        padding-bottom: 0.5em;
    }

    .mission p {
        width: 150%;
        margin: 0;
        font-size: 0.95rem;
    }
}