.about-page {
    height: 100%;
}

.about-container {
    display: flex;
    border-top: 1px solid darkgrey;
    background-color: black;
    margin-top: 20px;
}

.mission {
    text-align: center;
    justify-content: center;
    color: darkgrey;
    font-size: 2em;
    padding-top: 120px;
    width: 50%;
}

.mission-title {
    background-color: black;
    color: white;
    opacity: 1;
    padding-bottom: 1em;
}

.mission p {
    margin: 0 0.5em;
    font-size: 0.9em;
}

img {
    /* padding-top: 20px; */
}

