.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #F2D585;
    color: black;
    font-size: 3em;
    box-shadow: 5px 5px 6px #000;
    margin: 15px;
    background-size: cover;
}

.steak-card {
    grid-column: 1;
    grid-row: 1;
    background-image: url('../assets/photos/card-background-steak.jpg');
    background-position: center;
}

.chicken-card {
    grid-column: 2;
    grid-row: 1;
    background-image: url('../assets/photos/card-background-chicken.jpg');
    background-position: center;
}

.seafood-card {
    grid-column: 1;
    grid-row: 2;
    background-image: url('../assets/photos/card-background-seafood.jpg');
    background-repeat: none;
}

.pork-card {
    grid-column: 2;
    grid-row: 2;
    background-image: url('../assets/photos/card-background-pork.jpg');
    background-position: center;
}

h3 {
    text-align: center;
    color: black;
    background-color: white;
    width: 100%;
    opacity: 0.4;
}

@media (min-width: 320px) 
and (max-width: 768px)
and (orientation: portrait) {
    .card {
        height: 200px;
    }
}