.navbar {
    margin: 0px;
    padding: 10px;
    opacity: 0.9;
    background-color: black;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    font-size: 1.5em;
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

a:hover {
    color: #FC7E2D;
}

@media (min-width: 320px) 
and (max-width: 728px) 
and (orientation: portrait) {
  a.link {
    font-size: 1.2em;
  }
}