* {
    box-sizing: border-box;
}

.photoSlide {
    width: 100%;
    background-color: #000;
    position: relative;
}

.photoSlide img {
    width: 100%;
    opacity: 0.4;
    height: 100vh;
}

.photoSlide h5 {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 2.5em;
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
}

.left-button {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.right-button {
    position: absolute;
    top: 50%;
    right: 5px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.left-button:focus, .right-button:focus {
    border: none;
    outline: none;
}