* {
    box-sizing: border-box;
}

.photoSlide {
    width: 100%;
    background-color: #000;
    position: relative;
    border-bottom: 1px solid #F2D585;
    border-top: 1px solid #F2D585;
}

.photoSlide img {
    width: 100%;
    opacity: 0.4;
    height: 100vh;
}

.photoSlide h5 {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 2.5em;
    color: #f2f2f2;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
}

.left-button {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.right-button {
    position: absolute;
    top: 50%;
    right: 5px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.left-button:focus, .right-button:focus {
    border: none;
    outline: none;
}

.shop-btn {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 2em;
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    padding: 0 10px 2px 10px;
    transform: translate(-50%, -50%);
    background-color: #F25C2C;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.shop-btn:hover {
    cursor: pointer;
    background-color: #FC7E2D;
    border: 1px solid #fff;
}

.photoSlide .slide-image {
    width: 100%;
    height: 100vh;
}