.menu-page {
  width: 100%;
  height: 100%;
}

.menu-container {
  color: white;
  font-size: 1.5em;
  padding-top: 20px;
  height: 100%;
}

.menu-content {
  display: block;
  background-color: black;
  line-height: 2em;
  opacity: 0.8;
  margin: 20px;
  border-radius: 10px;
}






.menu-container h3 {
  text-align: center;
  color: white;
  background-color: transparent;
  opacity: 0.8;
}

.menu-container h4 {
  text-align: center;
}

table {
  width: 100%;
  border-radius: 10px 10px 0 0;
  box-shadow: 5px 5px 6px #000;
  border: 2px solid white;
}

th.name, th.quantity, th.weight {
  font-weight: 600;
  border-bottom: 1px solid white;
}

td {
  font-size: 1em;
  line-height: 1.5em;
  padding: 5px;
}

.name {
  text-align: center;
  width: 60%;
}

.quantity, .weight {
  text-align: center;
  width: 20%;
}

.table-footer {
  display: flex;
  justify-content: center;  
  align-items: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 5px 5px 6px #000;
  border: 2px solid white;
}

.price {
  width: 100%;
}

.paypal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  height: 130px;
}


@media (min-width: 320px) 
and (max-width: 768px) 
and (orientation: portrait) {
  th {
    font-size: 0.8em;
  }

  td {
    font-size: 0.7em;
  }
}