.menu-container {
    color: white;
    font-size: 1.5em;
    padding-top: 20px;
}

.menu-content {
  display: block;
  background-color: black;
  line-height: 2em;
  opacity: 0.8;
}

.menu-container h3 {
  text-align: center;
  padding-bottom: 20px;
  color: white;
  background-color: transparent;
  opacity: 0.8;
}

.menu-container h4 {
  text-align: center;
}

table {
  width: 100%;
}

.table-head {
  border-bottom: 1px solid white;
  width: 100%;
}

.name {
  text-align: center;
  width: 60%;
}

.quantity {
  text-align: center;
  width: 20%;
  /* border: 1px solid white; */
}

.weight {
  text-align: center;
  /* border: 1px solid white; */
  width: 20%;
}

.table-footer {
  width: 100%;
  align-items: center;
  border: 1px solid white;
}

.price {
  width: 100%;
}

.paypal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  background-color: black;
}



/* @media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
      .main-container {
          background-size: inherit;
          line-height: 1em;
          font-size: 0.7em;
      }

      tbody {
          margin: 0;
          line-height: 5px;
      }

      
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 516px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .menu-content {
      line-height: unset;
      font-size: 0.7em;
    }

    .name {
      padding: 0 5px 0 5px;
    }
    
  }
  
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 516px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    
    .menu-content {
      line-height: unset;
      font-size: 0.7em;
    }
    
    .name, .weight, .quantity {
      padding: 0 5px 0 5px;
    }
}  */