.home-page {
    height: 100%;
}

.homePage-slideContainer {
    padding: 10px;
}


@media only screen 
and (min-device-width: 320px)
and (max-device-width: 516px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    .home-page {
        /* width: auto; */
    }

    div.homePage-slideContainer {

        padding: 0;
    }
}