.home-page {
    height: 100%;
    width: 100%;
}

.slideshow-container {
    display: flex;
    width: auto;
    padding: 10px;
    margin-bottom: 120px;
}

.footer-container {
    height: 15%;
}
