.home-page {
    height: 100%;
    width: 100%;
}

.slideshow-container {
    display: flex;
    width: auto;
    padding: 10px;
}

@media (min-width: 320px) 
and (max-width: 768px)
and (orientation: portrait) {
    
}